body{
    display: grid;
    grid-template-columns: repeat(7,50px);
    grid-template-rows: repeat(7,50px);
    gap: 7px;
}

div{
    background-color: brown;
    border: thin solid  black;
}

#sayi1{
    grid-column: 2/3;
    grid-row: 1/2;
}

#sayi2{
    grid-column: 3/4;
    grid-row: 1/2;
}

#sayi3{
    grid-column: 2/3;
    grid-row: 5/6;
}

#sayi4{
    grid-column: 3/4;
    grid-row: 5/6;
}

#sayi5{
    grid-column: 1/2;
    grid-row: 2/3;
}

#sayi6{
    grid-column: 1/2;
    grid-row: 3/4;
}

#sayi7{
    grid-column: 1/2;
    grid-row: 4/5;
}

#sayi8{
    grid-column: 4/5;
    grid-row: 2/3;
}

#sayi9{
    grid-column: 4/5;
    grid-row: 3/4;
}

#sayi0{
    grid-column: 4/5;
    grid-row: 4/5;
}